.services{
    padding-right: 7.5%;
    padding-left: 7.5%;
    background-color: white;
    margin-bottom: 4%;
    margin-top: 5%;
    
}

.services img{
    height: 40px;
    margin-right: 5%;
    width: 40px;
}

.allServices{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.serviceTypes{
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: #f5f6f6;
    display: flex;
    border-radius: 10px;
}

.serviceHeading{
    font-weight: bold;
    font-size: 100%;
    margin-bottom: -5%;
    color: black;
}

.serviceDescription{
    font-size: 90%;
    color: grey;
}